/* Estilo general del footer */
footer {
    min-height: 2vh;
    background-color: #2c2c2c; /* Un tono más elegante y oscuro */
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3); /* Sombra superior */
    font-family: 'Poppins', sans-serif; /* Tipografía moderna */
}

/* Columnas del footer */
.column {
    width: calc(33.33% - 20px);
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out; /* Animación suave */
}

/* Efecto de resaltado al pasar el mouse */
.column:hover {
    transform: scale(1.05);
}

/* Footer versión celular */
@media (max-width: 767px) {
    footer {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .column {
        width: auto;
        display: block;
        margin-top: 10px;
    }
}

/* Mantener proporción de imagen */
.column-img {
    object-fit: contain;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 32px;
}

/* Última columna sin margen */
.column:last-child {
    margin-right: 0;
}

/* Títulos de columna */
.column h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* Animación de aparición */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

/* Botón de menú hamburguesa para versión móvil */
.footer-toggle {
    display: none;
    text-align: center;
    background-color: #444;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.footer-toggle:hover {
    background-color: #555;
}

@media (max-width: 767px) {
    .footer-toggle {
        display: block;
    }
}

/* Menú desplegable del footer */
.footer-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.footer-toggle:active + .footer-menu {
    display: block;
    opacity: 1;
}
