<div class="cont_slider">
  <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/hero_banner_01.png" class="d-block w-100" alt="Banner 1">
        <div class="carousel-caption d-none d-md-block">
          <a href="https://github.com/mercado-libro-integrador-2025/MercadoLibroMobile" target="_blank">
             <img src="assets/images/hero_button.png" alt="Descargá la app Mercado Libro" style="max-width: 80%; height: auto; cursor: pointer;">
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/hero_banner_02.png" class="d-block w-100" alt="Banner 2">
        <div class="carousel-caption d-none d-md-block">
          <!-- <a class="btn btn-primary" routerLink="/nuestraseleccion">Nuestra Selección</a> -->
        </div>
      </div>
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>
