

<main>
    <section>
      <div class="container">
        <h2 class="text-center">¿Quienes somos?</h2>
        <p class="text-center">
          Bienvenidos a <b>MercadoLibro</b>, <span class="databindingSpan">{{parrafo_quienes_somos}}</span>
        </p>
      </div>
    </section>
    <section>
      <div class="container">
        <br>
        <h2 class="text-center">Nuestra selección</h2>
        <p class="text-center"> {{parrafo_nuestra_seleccion}} </p>
      </div>
    </section>
    <section>
      <div class="container">
        <br>
        <h2 class="text-center">Nuestra pasión</h2>
        <p class="text-center">En <b>MercadoLibro</b>,<span class="databindingSpan">{{parrafo_nuestra_pasion}}</span> </p>
      </div>
    </section>

    <section>
      <div class="container">
        <br>
        <h2 class="text-center">Nuestro compromiso</h2>
        <p class="text-center">En <b>MercadoLibro</b>, <span class="databindingSpan">{{parrafo_nuestro_compromiso}}</span><br>
      </div>
    </section>
  </main>

