
main p {
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

.databindingSpan{
  color: brown;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

section h2 {
    color: crimson;
    font-family:Cambira, "Times New Roman", Times, serif;
    font-weight: bold;
  }