<main>
  <div class="div__login bg-dark">
    <h1>Bienvenido</h1>
    <form class="needs-validation" id="login" [formGroup]="loginFormulario" (ngSubmit)="onEnviar($event)">
      <div class="div__login-input">
        <input type="email" class="form__input form-control" id="email" name="email" required placeholder="Email"
          formControlName="email">
        <label for="floatingInput">Email</label>
        <div *ngIf="Email?.errors && Email?.touched">
          <p *ngIf="Email?.hasError('required')" class="text-danger">El email es requerido.</p>
          <p *ngIf="Email?.hasError('email')" class="text-danger">El formato del email debe ser válido.</p>
          <p *ngIf="Email?.hasError('pattern')" class="text-danger">El formato del email debe ser válido.</p>
        </div>
      </div>

      <div class="div__login-input">
        <input type="password" class="form__input form-control" id="contrasena" required minlength="8" maxlength="16"
          placeholder="Contraseña" formControlName="password">
        <label for="floatingPassword">Contraseña</label>
        <div *ngIf="Password?.errors && Password?.touched">
          <p *ngIf="Password?.hasError('required')" class="text-danger">La contraseña es requerida.</p>
          <p *ngIf="Password?.hasError('minlength')" class="text-danger">La contraseña requiere como mínimo 8 caracteres.</p>
          <p *ngIf="Password?.hasError('pattern')" class="text-danger">
            La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un carácter especial.
          </p>
        </div>
      </div>

      <div class="div-botones">
        <button class="buton nav-link" type="submit">Ingresar</button>
        <a class="registarse btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrarse</a>
      </div>
    </form>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #registroModal>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Registro</h1>
          <button type="button" class="btn-close text-white bg-white nav-link" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div *ngIf="registroExitoso" class="alert alert-success" role="alert">
          ¡Registro realizado exitosamente!
        </div>

        <div *ngIf="usuarioRegistrado" class="alert alert-danger" role="alert">
          El usuario ya está registrado.
        </div>

        <form class="needs-validation" id="registro" [formGroup]="registroFormulario" (ngSubmit)="enviarDatosRegistro($event)">
          <div class="modal-body">
            <div class="col">
              <label class="form-label">Nombre</label>
              <input class="form-control" id="usernameRegistro" formControlName="username" required>
              <div *ngIf="registroFormulario.get('username')?.errors && registroFormulario.get('username')?.touched">
                <p *ngIf="registroFormulario.get('username')?.hasError('required')" class="text-danger">
                  El nombre es requerido.
                </p>
                <p *ngIf="registroFormulario.get('username')?.hasError('minlength')" class="text-danger">
                  El nombre debe contener al menos 3 caracteres.
                </p>
                <p *ngIf="registroFormulario.get('username')?.hasError('pattern')" class="text-danger">
                  NO se permiten numeros, caracteres especiales y espacios.
                </p>
              </div>
            </div><br>

            <div class="col">
              <label class="form-label">Email</label>
              <input class="form-control" type="email" id="emailRegistro" formControlName="email" required>
              <div *ngIf="registroFormulario.get('email')?.errors && registroFormulario.get('email')?.touched">
                <p *ngIf="registroFormulario.get('email')?.hasError('required')" class="text-danger">
                  El email es requerido.
                </p>
                <p *ngIf="registroFormulario.get('email')?.hasError('email')" class="text-danger">
                  El email debe ser válido.
                </p>
                <p *ngIf="registroFormulario.get('email')?.hasError('pattern')" class="text-danger">
                  El email debe ser válido.
                </p>
              </div>
            </div><br>

            <div class="col">
              <label class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="passwordContrasena" formControlName="password" required minlength="8">
              <div *ngIf="registroFormulario.get('password')?.errors && registroFormulario.get('password')?.touched">
                <p *ngIf="registroFormulario.get('password')?.hasError('required')" class="text-danger">
                  La contraseña es requerida.
                </p>
                <p *ngIf="registroFormulario.get('password')?.hasError('minlength')" class="text-danger">
                  La contraseña debe contener al menos 8 caracteres.
                </p>
                <p *ngIf="registroFormulario.get('password')?.hasError('pattern')" class="text-danger">
                  La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un carácter especial.
                </p>
              </div>
              <br>

              <label class="form-label">Repite contraseña</label>
              <input type="password" class="form-control" id="repetirPassword" formControlName="repetirPassword" required minlength="8">
              <div *ngIf="registroFormulario.get('repetirPassword')?.errors && registroFormulario.get('repetirPassword')?.touched">
                <p *ngIf="registroFormulario.get('repetirPassword')?.hasError('required')" class="text-danger">
                  Repetir la contraseña es requerido.
                </p>
                <p *ngIf="registroFormulario.get('repetirPassword')?.hasError('minlength')" class="text-danger">
                  La contraseña debe contener al menos 8 caracteres.
                </p>
                 <p *ngIf="registroFormulario.get('repetirPassword')?.hasError('notMatching')" class="text-danger">
                  Las contraseñas deben coincidir.
                </p>
              </div>
            </div>
          </div>

          <div class="modal-footer bg-dark">
            <input type="submit" class="btn btn-warning fw-semibold" value="Registrarse" [disabled]="!registroFormulario.valid">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>