<div class="card bg-white p-4 rounded-2xl shadow-md">
    <h3 class="text-xl font-semibold mb-4">Finalizar compra</h3>

    <table class="w-full text-left border-separate border-spacing-2">
        <thead class="bg-primary text-white">
            <tr>
                <th class="p-2">Libro</th>
                <th class="p-2">Cantidad</th>
                <th class="p-2">Precio Unitario</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of carrito" class="border-b">
                <td class="p-2">{{ item.titulo }}</td>
                <td class="p-2">{{ item.cantidad }}</td>
                <td class="p-2">${{ item.precio }}</td>
            </tr>
        </tbody>
        <tfoot class="bg-secondary text-white">
            <tr>
                <td colspan="2" class="p-2">Precio Total:</td>
                <td class="p-2">${{ total }}</td>
            </tr>
        </tfoot>
    </table>

    <div class="mt-4 space-y-4">
        <p>Si aún no registraste una dirección:
            <a routerLink="/dashboard/profile-dashboard">mis direcciones</a>
        </p>

        <div class="space-y-2">
            <label>Elige una dirección:</label>
            <select class="form-select w-full" [(ngModel)]="direccionSeleccionada">
                <option value="">-------</option>
                <option *ngFor="let direccion of direccionesEnvio">{{ direccion }}</option>
            </select>
        </div>

        <div class="space-y-2">
            <label>Elige una forma de envío:</label>
            <select class="form-select w-full" [(ngModel)]="formaEnvioSeleccionada">
                <option value="">-------</option>
                <option *ngFor="let envio of formasEnvio">{{ envio }}</option>
            </select>
        </div>

        <div class="space-y-2">
            <label>Elige una forma de pago:</label>
            <select class="form-select w-full" [(ngModel)]="formaPagoSeleccionada">
                <option value="">-------</option>
                <option *ngFor="let pago of formasPago">{{ pago }}</option>
            </select>
        </div>
    </div>

    <button class="mt-4 w-full bg-dark text-white py-2 rounded-lg hover:bg-dark/90 transition" (click)="createPreferenceAndRedirect()">Pagar</button>
</div>
