<div class="card-container">
    <h3>Finalizar compra</h3>

    <table class="table-container">
        <thead class="table-header">
            <tr>
                <th>Libro</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of carrito" class="table-row">
                <td>{{ item.titulo }}</td>
                <td>{{ item.cantidad }}</td>
                <td>${{ item.precio }}</td>
            </tr>
        </tbody>
        <tfoot class="table-footer">
            <tr>
                <td colspan="2">Precio Total:</td>
                <td>${{ total }}</td>
            </tr>
        </tfoot>
    </table>

    <div class="form-container">
        <p>Si aún no registraste una dirección:
            <a routerLink="/dashboard/profile-dashboard">mis direcciones</a>
        </p>

        <div class="form-group">
            <label>Elige una dirección:</label>
            <select class="form-select" [(ngModel)]="direccionSeleccionada">
                <option value="">-------</option>
                <option *ngFor="let direccion of direccionesEnvio">{{ direccion }}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Elige una forma de envío:</label>
            <select class="form-select" [(ngModel)]="formaEnvioSeleccionada">
                <option value="">-------</option>
                <option *ngFor="let envio of formasEnvio">{{ envio }}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Elige una forma de pago:</label>
            <select class="form-select" [(ngModel)]="formaPagoSeleccionada">
                <option value="">-------</option>
                <option *ngFor="let pago of formasPago">{{ pago }}</option>
            </select>
        </div>
    </div>

    <button class="pay-button" (click)="createPreferenceAndRedirect()">Pagar</button>
</div>
