<app-frase></app-frase>
<main>
    <div class="container mb-5">
        <div class="carousel-container" id="carousel-container">
            <div class="carousel">
                <div class="frase-container"></div>
            </div>
        </div>
    </div>
    <div class="container-lg contenedor-index">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col-6 col-md">
                <div class="card text-bg-secondary">
                    <img src="./assets/Imagenes/LibroSlider1.jpg" class="card-img-top" alt="¿Quiénes somos?">
                    <div class="card-body">
                        <h5 class="card-title text-center"><a routerLink="/quienes" routerLinkActive="active">Quiénes
                                Somos</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md">
                <div class="card text-bg-secondary">
                    <img src="./assets/Imagenes/LibroSlider2.jpg" class="card-img-top" alt="Nuestra selección">
                    <div class="card-body">
                        <h5 class="card-title text-center"><a routerLink="/nuestraseleccion"
                                routerLinkActive="active">Nuestra selección</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md">
                <div class="card text-bg-secondary">
                    <img src="./assets/Imagenes/mapa.png" class="card-img-top" alt="Contacto">
                    <div class="card-body">
                        <h5 class="card-title text-center"><a routerLink="/contacto"
                                routerLinkActive="active">Contacto</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md">
                <div class="card text-bg-secondary">
                    <img src="./assets/Imagenes/LibroSlider3.jpg" class="card-img-top" alt="Registro">
                    <div class="card-body">
                        <h5 class="card-title text-center"><a routerLink="/inicio" routerLinkActive="active">LogIn</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>