<div class="container">
    <div class="box-container">
      <div class="box">
        <div class="icons">
          <i class="fa-solid fa-gear"></i>
        </div>
        <div class="photo-container">
          <img src="../../../../assets/Imagenes/2 feliz.jpg" alt="Laura" class="photo">
        </div>
        <h3>Laura Aquino</h3>
        <p>No era mucho de leer, hasta que conoci esta hermosa pagina que vende los mejores titulos. Ame harry Potter y a Leo :P</p>
        
      </div>
  
      <div class="box">
        <div class="icons">
          <i class="fa-solid fa-gear"></i>
        </div>
        <div class="photo-container">
          <img src="../../../../assets/Imagenes/4 feliz.jpg" alt="Pedro" class="photo">
        </div>
        <h3>Pedro Mondino</h3>
        <p>Ame la divina Comedia y me encanto la atencion de Marce! </p>
        
      </div>
  
      <div class="box">
        <div class="icons">
          <i class="fa-solid fa-gear"></i>
        </div>
        <div class="photo-container">
          <img src="../../../../assets/Imagenes/3 feliz.jpg" alt="Mili" class="photo">
        </div>
        <h3>Mili Enriqueta</h3>
        <p>Queria soñar despierta, y lo hice gracias la historia sin fin y a Ive que me lo recomendo!</p>
        
      </div>
      <div class="box">
        <div class="icons">
          <i class="fa-solid fa-gear"></i>
        </div>
        <div class="photo-container">
          <img src="../../../../assets/Imagenes/1 feliz.jpg" alt="Lola" class="photo">
        </div>
        <h3>Lola Almeida</h3>
        <p>Matematica Para Dummyes el mejor de todas la saga Gracias Bro Nahir!</p>
        
      </div>
      <div class="box">
        <div class="icons">
          <i class="fa-solid fa-gear"></i>
        </div>
        <div class="photo-container">
          <img src="../../../../assets/Imagenes/2 feliz.jpg" alt="Tete" class="photo">
        </div>
        <h3>Tete Moreno</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
        
      </div>
    </div>
  
    