<div class="dashboard-card">
    <h3>Historial de Compras</h3>

    <div *ngIf="isLoading" class="text-center p-3">Cargando historial de pedidos...</div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <div *ngIf="!isLoading && !error">
        <div *ngIf="detallesPedidos.length > 0; else emptyHistory">
            <div class="table-responsive-container">
                <table class="purchase-history-table">
                    <thead>
                        <tr>
                            <th>ID del Pedido</th>
                            <th>Fecha del Pedido</th>
                            <th>Dirección de Envío</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pedido of detallesPedidos">
                            <td>{{ pedido.id }}</td>
                            <td>{{ pedido.fecha_pedido | date:'shortDate' }}</td>
                            <td>{{ pedido.direccion_envio }}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-template #emptyHistory>
            <p style="text-align: center; color: #555;">No hay compras registradas.</p>
        </ng-template>
    </div>

    <hr>
    <div class="arrepentimiento-compra">
        <h5>❗ Información importante </h5>
        <p>De acuerdo con la legislación vigente, contás con un plazo de 10 días corridos desde la recepción
        del pedido para ejercer tu derecho de arrepentimiento y solicitar la devolución del mismo,
        sin necesidad de justificación. </p>
        <p>Para iniciar el proceso, comunicate con nuestro equipo de atención al cliente indicando
        tu número de pedido.</p>
    </div>
</div>