<div class="dashboard-card">
    <h3>Historial de Compras</h3>
    <div *ngIf="detallesPedidos.length > 0; else emptyHistory">
        <table class="purchase-history-table">
            <thead>
                <tr>
                    <th>Dirección de Envío</th>
                    <th>Estado</th>
                    <th>Fecha del Pedido</th>
                    <th>Título del Libro</th>
                    <th>Cantidad</th>
                    <th>Precio Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detalle of detallesPedidos">
                    <td>{{ detalle.direccion_envio }}</td>
                    <td>{{ detalle.estado_pedido }}</td>
                    <td>{{ detalle.fecha_pedido }}</td>
                    <td>{{ detalle.titulo_libro }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>${{ detalle.precio_total }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #emptyHistory>
        <p style="text-align: center; color: #555;">No hay compras registradas.</p>
    </ng-template>

    <hr>
    <div class="arrepentimiento-compra">
        <h5>❗ Información importante </h5>
        <p>De acuerdo con la legislación vigente, contás con un plazo de 10 días corridos desde la recepción
        del pedido para ejercer tu derecho de arrepentimiento y solicitar la devolución del mismo,
        sin necesidad de justificación. </p>
        <p>Para iniciar el proceso, comunicate con nuestro equipo de atención al cliente indicando
        tu número de pedido.</p>
    </div>
</div>