<div class="profile-container">
  <h2>¡Hola, {{ clienteLogueado.user.username }}!</h2>
  <p>¿Qué vamos a leer hoy?</p>

  <!-- <div *ngIf="!modoEdicion" class="datos">
    <p><strong>Nombre:</strong> {{ cliente?.nombre }}</p>
    <p><strong>Email:</strong> {{ cliente?.email }}</p>
    <p><strong>Teléfono:</strong> {{ cliente?.telefono }}</p>
    <button (click)="toggleEdicion()">Modificar mis datos</button>
  </div>

  <form *ngIf="modoEdicion" class="formulario">
    <label>
      Nombre:
      <input type="text" [(ngModel)]="cliente.nombre">
    </label>
    <label>
      Email:
      <input type="email" [(ngModel)]="cliente.email">
    </label>
    <label>
      Teléfono:
      <input type="text" [(ngModel)]="cliente.telefono">
    </label>

    <button type="button" (click)="toggleEdicion()">Cancelar</button>
    <button type="submit">Guardar</button>
  </form>
</div> -->
