/*PC*/
@media (min-width: 1024px) {
.dashboard {
    display: flex;
   
    
  }

  .content {
    flex: 1;
    

  
  }
}
/*Tablet*/
@media (min-width: 480px) and (max-width: 1023px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    
  }




}
/*Mobile*/
@media (max-width: 479px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    
  }


}
  