.dashboard-card {
  max-width: 900px;
  min-height: 400px;
  margin: 2rem auto;
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-card h3 {
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.table-container,
.purchase-history-table {
  width: 100%;
  flex-grow: 1;
}

.table-footer {
  background-color: #333;
  color: white;
  font-weight: bold;
  text-align: right;
  padding: 1rem;
}

.user-info {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #555;
}

.user-reviews-list {
    margin-bottom: 2rem;
}

.subtitle {
    color: #888;
    font-style: italic;
}

.review-item {
    padding: 1rem;
    margin-bottom: 1.5rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.review-item h4 {
    color: #333;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.review-item p {
    margin-bottom: 0.5rem;
    color: #666;
}

.actions button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit {
    background-color: #555;
    color: white;
    margin-right: 1rem;
}

.btn-edit:hover {
    background-color: #555;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

.btn-delete:hover {
    background-color: #c82333;
}

form {
    margin-top: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    background: #fdfdfd;
}

.form-control:focus {
    outline: none;
    border-color: #555;
}

.form-actions {
    display: flex;
    gap: 1rem;
}

.btn-submit {
    background-color: #555;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #555;
}

.btn-cancel {
    background-color: #6c757d;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #5a6268;
}
