<div class="buscador-seccion">
  <h2>Encuentra tu próximo libro</h2>
  <div class="buscador">
    <div class="categoria-busqueda">
      <label for="categoriaSelector">Categoría:</label>
      <select id="categoriaSelector" [(ngModel)]="opcionSeleccionada" (change)="buscarLibros()" name="categoria">
        <option value="">-- Todas las categorías --</option>
        <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
      </select>
    </div>
    <form class="termino-busqueda ng-pristine ng-valid ng-touched" (submit)="buscarLibros(); $event.preventDefault();">
      <label for="terminoBusqueda" class="sr-only">Buscar libros</label>
      <input type="text" placeholder="Buscar por título, autor, etc." [(ngModel)]="terminoBusqueda" name="terminoBusqueda" class="ng-pristine ng-valid ng-touched">
      <button type="submit" class="btn btn-buscar">🔍 Buscar</button>
    </form>
  </div>
</div>