<footer>
    <div class="column">
      <h3 class="listFoot1">Nuestros Horarios</h3>
      <span>&#187;</span> {{horariosSemana}} <br>
      <span>&#187;</span> {{horarioSabado}} <br>
    </div>


    <div class="column">
      <h3>Formas de pago</h3>
      <img class="column-img" src="../../../assets/Imagenes/pagos.png  " alt="Visa-Matercard-Otros">
      <p><span>&#187;</span> Envios a todo el pais<br>
        <span>&#187;</span> Costos de envío según C.P.<br>
      </p>
    </div>
    <div class="column">
      <p><span>&#169;</span> Codesquad</p>
    </div>
  </footer>

