.banner-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1;
}

.text-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.text-container p {
  font-size: 1.125rem;
  margin: 0.5rem 0 0 0;
   font-weight: bold;
}

.historia-section {
  padding: 2rem;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
   color: #111111;
}

.titulo-historia {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.historia-contenido {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem; 
  max-width: 1000px;
  margin: 2rem auto; 
  padding: 0 1rem;
}

.historia-contenido p {
  font-size: 1.125rem; 
  line-height: 1.8;
  color: #111111;
  font-weight: 80;
  max-width: 600px;
}

.historia-img {
  width: 500px;
  border-radius: 1rem;
  object-fit: cover;
}

.mision-vision-section {
  padding: 2rem 1rem;
  background-color: #ffffff;
}

.contenedor-cajas {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
}

.caja {
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.icono {
  width: 50px;
  height: 50px;
  margin: 0 auto 1rem;
}

.titulo-caja {
  font-size: 24px;
  font-weight: bold;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #000;
}

.texto-caja {
  font-size: 1rem;
  color: #333;
  line-height: 1.8;
  font-size: 18px;
}

.valores-container {
  border-radius: 12px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.titulo_valores {
  font-size: 24px;
  font-weight: bold;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #000;
  text-align: center;
}

.valor-card {
  margin-top: 20px;
}

.subtitulo_valores {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.descripcion_valores {
  font-size: 19px;
  color: #333;
  margin-top: 6px;
  line-height: 2;
}

@media (max-width: 480px) {

  .banner-container {
    height: 30vh;
    min-height: 300px;
  }

  .text-container {
    top: 40%; 
    transform: translate(-50%, -40%); 
  }

  .mision {
    border: 2px solid #000000;
  }

  .vision {
    border: 2px solid transparent;
  }

  .historia-contenido {
    flex-direction: column;
    align-items: center;
  }

  .historia-texto {
    padding-left: 0;
    text-align: center;
  }

  .historia-img {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {

  .contenedor-cajas {
    flex-direction: column;
    align-items: center;
  }

  .caja {
    max-width: 90%;
  }
    .historia-contenido {
    flex-direction: column;
    align-items: center;
  }

  .historia-texto {
    padding-left: 0;
    text-align: center;
  }

  .historia-img {
    width: 100%;
    max-width: 100%;
  }
}