<div class="order-status-card">
    <h3>Estado del Envío</h3>

    <div class="order-details">
        <div class="order-detail">
            <span class="label">Número de Pedido:</span>
            <span>{{ order.orderId }}</span>
        </div>
        <div class="order-detail">
            <span class="label">Fecha:</span>
            <span>{{ order.fecha }}</span>
        </div>
        <div class="order-detail">
            <span class="label">Estado:</span>
            <span>{{ order.status }}</span>
        </div>
    </div>
</div>
