main {
  margin-top: 2px !important;
  padding-top: 2px !important;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #2c2c2c;
  color: white;
  border-radius: 10px;
}

.contact-form .form-control {
  background-color: #3a3a3a;
  color: white;
  border: none;
  border-radius: 6px;
}

.contact-form .form-control::placeholder {
  color: #ccc;
}

.btn-submit {
  background-color: #cc6a00;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #e76e00;
}
